<%= form_for(@staff) do |f| %>
  <% if @staff.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@staff.errors.count, "error") %> prohibited this staff from being saved:</h2>

      <ul>
      <% @staff.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="row">
 <div class="col-lg-7">

 <div class="panel panel-default">
<div class="panel-body">
  <div class="field">
    <%= f.label :Staff_id, "Staff ID" %><br>
    <%= f.text_field :id %>
  </div>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :address %><br>
    <%= f.text_area :address %>
  </div>
  <div class="field">
    <%= f.label :telephone_no %><br>
    <%= f.text_field :telephone_no %>
  </div>
  <div class="field">
    <%= f.label :division_id %><br>
    <%= f.select(:division_id, Division.all.collect {|c| [ c.name, c.id ]}, :include_blank => true) %>
  </div>
  <div class="actions">
    <%= f.submit 'Save', :class => "btn btn-primary pull-left btn-sm " %>
  </div>
</div>
<%= link_to '<div class="glyphicon glyphicon-arrow-left"> Back</div>'.html_safe, staffs_path, :class => "btn btn-default pull-left" %>


</div>
</div>
</div>
<% end %>
