<div>
                    <h1 class="page-header">Staff List</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                       <div class="panel-heading">
              <div class="row">
                <div class="col-md-6">
                <%=form_tag @staffs_path, :method => 'get' do %>
                <div class="input-group">
                  <input type="search" name="search" class="form-control" placeholder="Name search">
                  <span class="input-group-btn">
                      <button type="submit" class="btn btn-default" type="button" value="search"><div class="glyphicon glyphicon-search"></div></button>
                  </span>
                </div><!-- /input-group -->
                <% end %>
                </div>
                <%if params[:search] %><h6> Search result for : <%=params[:search]%></h6><% end %>
                <% if user_signed_in? %>
                <div class="col-md-6">
                <%= link_to 'Add Staff', new_staff_path, :class=>"btn btn-primary clearfix pull-right" %>
                </div>
                <% end %>
              </div>
            </div>
                                <div class="table-responsive">
                                <table class="table table-striped table-bordered table-hover" id="dataTables-example">
  <thead>
    <tr>
      <th><%= sortable "id", "Staff ID" %></th>
      <th>Name</th>
      <th>Address</th>
      <th>Telephone no</th>
      <th>Division</th>
      <th colspan="3">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @staffs.each do |staff| %>
      <tr>
        <td><%= staff.id %></td>
        <td><%= staff.name %></td>
        <td><%= staff.address %></td>
        <td><%= staff.telephone_no %></td>
        <td><%= staff.division_id %></td>
        <td><span class="has-tooltip" data-toggle="tooltip" title="Show"><span class="has-tooltip" data-toggle="tooltip" title="Show"><%= link_to '', staff, :class => "btn btn-primary btn-xs glyphicon glyphicon-file" %>
            <% if user_signed_in? %></span>
            <span class="has-tooltip" data-toggle="tooltip" title="Edit"><%= link_to '', edit_staff_path(staff), :class => "btn btn-primary btn-xs glyphicon glyphicon-edit" %></span>
            <span class="has-tooltip" data-toggle="tooltip" title="Delete"><%= link_to '', staff, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-primary btn-xs glyphicon glyphicon-trash" %></span>
            <% end %>
            </td>
      </tr>
    <% end %>
  </tbody>
</table>
    </div>
    </div>
    </div>

<br>
