<div class="row">
 <div class="col-lg-7">

 <div class="panel panel-default" id="the_show">


<div class="panel-heading">
<p>
  <strong>ID :</strong>
  <%= @staff.id %>
</p>
<p>
  <strong>Name:</strong>
  <%= @staff.name %>
</p>
</div>

<div class="panel-body">
<p>
  <strong>Address:</strong>
  <%= @staff.address %>
</p>

<p>
  <strong>Telephone no:</strong>
  <%= @staff.telephone_no %>
</p>

<p>
  <strong>Division:</strong>
  <%= @staff.division_id %>
</p>





<%= link_to 'Edit', edit_staff_path(@staff), :class => "btn btn-primary pull-left btn-sm "  %> 
</div>
<%= link_to '<div class="glyphicon glyphicon-arrow-left"> Back</div>'.html_safe, staffs_path, :class => "btn btn-default pull-left" %>


</div>
</div>
</div>