<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :address %><br>
    <%= f.text_area :address %>
  </div>
  <div class="field">
    <%= f.label :telephone_no %><br>
    <%= f.text_field :telephone_no %>
  </div>
  <div class="field">
    <%= f.label :rank_id %><br>
    <%= f.text_field :rank_id %>
  </div>
  <div class="field">
    <%= f.label :division_id %><br>
    <%= f.text_field :division_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
