<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Profile pic:</strong>
  <%= @user.profile_pic_id %>
</p>

<p>
  <strong>Address:</strong>
  <%= @user.address %>
</p>

<p>
  <strong>Telephone no:</strong>
  <%= @user.telephone_no %>
</p>

<p>
  <strong>Rank:</strong>
  <%= @user.rank_id %>
</p>

<p>
  <strong>Division:</strong>
  <%= @user.division_id %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
