<div class="row">
 <div class="col-lg-7">
 
 <div class="panel panel-default" id="the_show">


<div class="panel-heading">
<p>
  <strong>ID :</strong>
  <%= @division.id %>
</p>
<p>
  <strong>Name:</strong>
  <%= @division.name %>
</p>

</div>

<div class="panel-body">

<p>
  <strong>Description:</strong>
  <%= @division.description %>
</p>

<%= link_to 'Edit', edit_division_path(@division), :class => "btn btn-primary pull-left btn-sm "  %> 
</div>
<%= link_to '<div class="glyphicon glyphicon-arrow-left"> Back</div>'.html_safe, divisions_path, :class => "btn btn-default pull-left" %>

</div>

</div>
</div>
</div>