<%= form_for(@company) do |f| %>
  <% if @company.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@company.errors.count, "error") %> prohibited this company from being saved:</h2>

      <ul>
      <% @company.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="row">
    <div class="col-lg-7">

      <div class="panel panel-default">
        <div class="panel-body">
            <div class="field">
              <%= f.label :company_id, "Company ID" %><br>
              <%= f.text_field :id %>
            </div>
            <div class="field">
              <%= f.label :name %><br>
              <%= f.text_field :name %>
            </div>
            <div class="field">
              <%= f.label :description %><br>
              <%= f.text_area :description %>
            </div>
            <div class="actions">
              <%= f.submit 'Save', :class => "btn btn-primary pull-left btn-sm " %>
            </div>
            </div>
<%= link_to '<div class="glyphicon glyphicon-arrow-left"> Back</div>'.html_safe, companies_path, :class => "btn btn-default pull-left" %>


</div>
</div>
</div>
<% end %>
