                <div>
                    <h1 class="page-header">Company List</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <!-- /.panel-heading -->
                         <div class="panel-heading">
              <div class="row">
                <div class="col-md-6">
                <%=form_tag @divisions_path, :method => 'get' do %>
                <div class="input-group">
                  <input type="search" name="search" class="form-control" placeholder="Name search">
                  <span class="input-group-btn">
                      <button type="submit" class="btn btn-default" type="button" value="search"><div class="glyphicon glyphicon-search"></div></button>
                  </span>
                </div><!-- /input-group -->
                <% end %>
                </div>
                <%if params[:search] %><h6> Search result for : <%=params[:search]%></h6><% end %>
                <% if user_signed_in? %>
                <div class="col-md-6">
                <%= link_to 'Add Company', new_company_path, :class=>"btn btn-primary clearfix pull-right" %>
                </div>
                <% end %>
                
              </div>
            </div>

                                <div class="table-responsive">
                                <table class="table table-striped table-bordered table-hover" id="dataTables-example">
  <thead>
    <tr>
      <th><%= sortable "id", "Company ID" %></th>
      <th><%= sortable "name", "Name" %></th>
      <th>Description</th>
      <th colspan="3">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @companies.each do |company| %>
      <tr>
        <td><%= company.id %></td>
        <td><%= company.name %></td>
        <td><%= company.description %></td>
          <td><span class="has-tooltip" data-toggle="tooltip" title="Show"><%= link_to '', company, :class => "btn btn-primary btn-xs glyphicon glyphicon-file" %></span>
            <% if user_signed_in? %>
            <span class="has-tooltip" data-toggle="tooltip" title="Edit"><%= link_to '', edit_company_path(company), :class => "btn btn-primary btn-xs glyphicon glyphicon-edit" %></span>
            <span class="has-tooltip" data-toggle="tooltip" title="Delete"><%= link_to '', company, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-primary btn-xs glyphicon glyphicon-trash" %></span>
            <% end %>
            </td>
      </tr>
    <% end %>
  </tbody>
</table>
   </div>

    </div>
    </div>

<br>
