<div class="row">
 <div class="col-lg-7">

 <div class="panel panel-default" id="the_show">


<div class="panel-heading">
<p>
  <strong>ID :</strong>
  <%= @company.id %>
</p>
<p>
  <strong>Name:</strong>
  <%= @company.name %>
</p>
</div>
<div class="panel-body">
<p>
  <strong>Description:</strong>
  <%= @company.description %>
</p>



<%= link_to 'Edit', edit_company_path(@company), :class => "btn btn-primary pull-left btn-sm "  %> 
</div>
<%= link_to '<div class="glyphicon glyphicon-arrow-left"> Back</div>'.html_safe, companies_path, :class => "btn btn-default pull-left" %>


</div>
</div>
</div>