<div>
    <h2 class="page-header">Log in</h2>
</div>

<div class="row">
 <div class="col-lg-7">

 <div class="panel panel-default">
<div class="panel-body">


<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <% if devise_mapping.rememberable? -%>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end -%>

  <div class="actions">
    <%= f.submit "Log in", :class => "btn btn-primary pull-left btn-sm " %>
  </div>
<% end %>




</div>
<%= link_to '<div class="glyphicon glyphicon-arrow-left"> Back</div>'.html_safe, assets_path, :class => "btn btn-default pull-left" %>
</div>
</div>
</div>
<%= render "devise/shared/links"%>
