<% if @asset.errors.any? %>
    <div id="error_explanation" class="col-lg-12">
      <h2><%= pluralize(@asset.errors.count, "error") %> prohibited this asset from being saved:</h2>

      <ul>
      <% @asset.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
    
  <% end %>
<%= form_for(@asset) do |f| %>
<div class="col-lg-12">
<form class="form-horizontal">
  <div class="form-group">
     <%= f.label :Asset_id, class: "col-sm-4 control-label" %>
     <%= f.text_field :id, :size=>"40", placeholder: "Asset", class: "form-control" %>
  </div>
    
    
   
  <div class="form-group">
   <%= f.label :finance_reference_id, class: "col-sm-4 control-label" %>
   <%= f.text_field :finance_reference_id, :size=>"60", placeholder: "Financial Reference", class: "form-control" %>
  </div>
    
    
   
  <div class="form-group">
   <%= f.label :name, class: "col-sm-4 control-label" %>
   <%= f.text_field :name, :size=>"60", placeholder: "Name", class: "form-control" %>
  </div>
    
    
   
  <div class="form-group">
   <%= f.label :description, class: "col-sm-4 control-label" %>
   <%= f.text_area :description, :size=>"60", placeholder: "Desription", class: "form-control" %>
  </div>
    
    
   
  <div class="form-group">
   <%= f.label :address, class: "col-sm-4 control-label" %>
   <%= f.text_area :address, :size=>"60", placeholder: "Address", class: "form-control" %>
  </div>
    
    
   
  <div class="form-group">
   <%= f.label :subnumber, class: "col-sm-4 control-label" %>
   <%= f.number_field :subnumber, :size=>"60", class: "form-control" %>
  </div>
    
    
   
  <div class="form-group">
   <%= f.label :current_holder_id, class: "col-sm-4 control-label" %>
   <%= f.select(:current_holder_id, Staff.all.collect {|c| [ c.name, c.id ]}, :include_blank => true, class: "form-control" ) %>
  </div>
    
    <%= f.hidden_field :archived, :value => false %>
   
  <div class="form-group">
   <%= f.label :division_id, class: "col-sm-4 control-label" %>
   <%= f.select(:division_id, Division.all.collect {|c| [ c.name, c.id ]}, :include_blank => true, class: "form-control" ) %>
  </div>
    
    
   
  <div class="form-group">
   <%= f.label :quantity, class: "col-sm-4 control-label" %>
   <%= f.number_field :quantity, :size=>"60", class: "form-control" %>
  </div>
    
    
   
  <div class="form-group">
   <%= f.label :company_id, class: "col-sm-4 control-label" %>
   <%= f.select(:company_id, Company.all.collect {|c| [ c.name, c.id ]}, :include_blank => true, class: "form-control" ) %>
  </div>
    
    
   
  <div class="form-group">
   <%= f.label :base_unit, class: "col-sm-4 control-label" %>
   <%= f.text_field :base_unit, :size=>"60", placeholder: "Base unit", class: "form-control" %>
  </div>
    
    
   
  <div class="form-group">
   <%= f.label :verifier, class: "col-sm-4 control-label" %>
   <%= f.select(:verifier, Staff.all.collect {|c| [ c.name, c.id ]}, :include_blank => true, class: "form-control" ) %>
  </div>
    
    
   
  <div class="form-group">
   <%= f.label :asset_manufacturer, class: "col-sm-4 control-label" %>
   <%= f.text_field :asset_manufacturer, :size=>"60", placeholder: "Asset Manufacturer", class: "form-control" %>
  </div>
    
    
   
  <div class="form-group">
   <%= f.label :print_date, class: "col-sm-4 control-label" %>
   <%= f.datetime_select :print_date, class: "form-control" %>
  </div>
    
    
   
  <div class="form-group">
   <%= f.label :tag_date, class: "col-sm-4 control-label" %>
   <%= f.datetime_select :tag_date, class: "form-control" %>
  </div>
    
    
   
  <div class="form-group">
   <%= f.label :last_check, class: "col-sm-4 control-label" %>
   <%= f.datetime_select :last_check, class: "form-control" %>
  </div>
    
    
   
  <div class="form-group">
   <%= f.label :asset_type, class: "col-sm-4 control-label" %>
   <%= f.text_field :asset_type, :size=>"60", placeholder: "Asset Type", class: "form-control" %>
  </div>
    
    
   
  <div class="form-group">
   <%= f.label :acquisition_value, class: "col-sm-4 control-label" %>
   <%= f.text_field :acquisition_value, :size=>"60", placeholder: "Acquisition Value", class: "form-control" %>
  </div>
    
    
   
  <div class="field form-group">
   <%= f.label :current_value, class: "col-sm-4 control-label" %>
   <%= f.text_field :current_value, :size=>"60", placeholder: "Current value", class: "form-control" %>
  </div>
    
<br><br>

  <%= f.fields_for :uploads do |builder| %>
      <%= render 'upload_fields', :f => builder %>
  <% end %>
  <p><%= link_to_add_fields "Add File", f,:uploads %></p>
  
    
  <div class="actions">
    <%= f.submit %>
  </div>
</form>
</div>
<% end %>

