
                <div class="col-lg-12">
                    <h1 class="page-header">Edit Asset</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
<div class="row">
  <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-lg-6">
<%= render 'form' %>
 </div>  
                            </div>
                        </div>
  

<%= link_to 'Show', @asset %> |
<%= link_to 'Back', assets_path %>
