
        <div>
            <h1 class="page-header"><%if current_page?(disposed_assets_path) %>Disposed Asset List<% else %>Asset List<% end %></h1>
        </div>
                <!-- /.col-lg-12 -->
            <!-- /.row -->
      <div class="row">
        <div class="col-lg-12">
          <div class="panel panel-default">
          <!-- /.panel-heading -->
          <div class="panel-heading">
              <div class="row">
                <div class="col-md-6">
                <%=form_tag @assets_path, :method => 'get' do %>
                <div class="input-group">
                  <input type="search" name="search" class="form-control" placeholder="Name search">
                  <span class="input-group-btn">
                      <button type="submit" class="btn btn-default" type="button" value="search"><div class="glyphicon glyphicon-search"></div></button>
                  </span>

                </div><!-- /input-group -->
                <% end %>
                <%if params[:search] %><h6> Search result for : <%=params[:search]%></h6><% end %>
                <% if user_signed_in? %>
                </div>
                
                <div class="col-md-6">
                <%= link_to 'Add Asset', new_asset_path, :class=>"btn btn-primary clearfix pull-right" %>
                <%if current_page?(disposed_assets_path) %><%= link_to "Current Asset", assets_path %><% else %><%= link_to "Disposed Assets", disposed_assets_path %><% end %>
                </div>

                <% end %>
                
              </div>
            </div>
            
              <div class="table-responsive">
                <table class="table table-striped table-bordered table-hover">
                  <thead>
                    <tr>
                      <th><%= sortable "id", "ID" %></th>
                      <th><%= sortable "name", "Name" %></th>
                      <th>Description</th>
                      <th>Address</th>
                      <th><%= sortable "current_holder_id", "Current Holder ID" %></th>
                      <th><%= sortable "division_id", "Division ID" %></th>
                      <th>Quantity</th>
                      <th><%= sortable "last_check", "Last Check" %></th>
                      <th><%= sortable "asset_type", "Asset Type" %></th>

                      <th colspan="3"> Actions</th>
                    </tr>
                </thead>

                <tbody>
                  <% @assets.each do |asset| %>
                  <tr>
                   <td><%= asset.id %></td>
                   <td><%= asset.name %></td>
                   <td><%= asset.description %></td>
                   <td><%= asset.address %></td>
                   <td><% if asset.current_holder_id.present? %><%= link_to asset.current_holder_id, staff_path(asset.current_holder_id)  %><% end %></td>
                   <td><%= link_to asset.division_id, division_path(asset.division_id)  %></td>
                   <td><%= asset.quantity %></td>
                   <td><%= asset.last_check %></td>
                   <td><%= asset.asset_type %></td>
                      
                  <td><span class="has-tooltip" data-toggle="tooltip" title="Show"><%= link_to '', asset, :class => "btn btn-primary btn-xs glyphicon glyphicon-file" %></span>
                  <% if user_signed_in? %>
                      <span class="has-tooltip" data-toggle="tooltip" title="Edit"><%= link_to '', edit_asset_path(asset), :class => "btn btn-primary btn-xs glyphicon glyphicon-edit" %></span>
                      <span class="has-tooltip" data-toggle="tooltip" title="Delete"><%= link_to '', asset, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-primary btn-xs glyphicon glyphicon-trash" %></span>
                          
                      <%if current_page?(disposed_assets_path) %>
                          <span class="has-tooltip" data-toggle="tooltip" title="Undispose"><%= link_to '', archived_asset_path(asset), data: { confirm: 'Are you sure?' }, :class => "btn btn-primary btn-xs glyphicon glyphicon-import", :method => :put  %></span>
                          <% else %>
                          <span class="has-tooltip" data-toggle="tooltip" title="Dispose"><%= link_to '', archived_asset_path(asset), data: { confirm: 'Are you sure?' }, :class => "btn btn-primary btn-xs glyphicon glyphicon-export", :method => :put  %><% end %></span>
                  <% end %>
                  </td>

                </tr>
               <% end %>
               </tbody>
                </table>
              </div>

        </div>
        <div class="pull-right"> 
          <%= will_paginate @assets, renderer: BootstrapPagination::Rails%>
        </div>
        </div>
      </div>
<br>


