<div class="row">
 <div class="col-lg-7">

 <div class="panel panel-default" id="the_show">


<div class="panel-heading">
<p>
  <strong>ID :</strong>
  <%= @asset.id %>
</p>
<p>
  <strong>Name:</strong>
  <%= @asset.name %>
</p>
</div>
<div class="panel-body">


<p>
  <strong>Finance Reference ID:</strong>
  <%= @asset.finance_reference_id %>
</p>
<p>
  <strong>Description:</strong>
  <%= @asset.description %>
</p>
<p>
  <strong>Address:</strong>
  <%= @asset.address %>
</p>
<p>
  <strong>Subnumber:</strong>
  <%= @asset.subnumber %>
</p>
<p>
  <strong>Archived:</strong>
  <%= @asset.archived %>
</p>
<p>
  <strong>Current Holder ID:</strong>
  <%= @asset.current_holder_id %>
</p>
<p>
  <strong>Division ID:</strong>
  <%= @asset.division_id %>
</p>
<p>
  <strong>Quantity:</strong>
  <%= @asset.quantity %>
</p>
<p>
  <strong>Company ID:</strong>
  <%= @asset.company_id %>
</p>
<p>
  <strong>Base Unit:</strong>
  <%= @asset.base_unit %>
</p>
<p>
  <strong>Verifier ID:</strong>
  <%= @asset.verifier %>
</p>
<p>
  <strong>Asset Manufacturer:</strong>
  <%= @asset.asset_manufacturer %>
</p>
<p>
  <strong>Print Date:</strong>
  <%= @asset.print_date %>
</p>
<p>
  <strong>Tag Date:</strong>
  <%= @asset.tag_date %>
</p>
<p>
  <strong>Last Check:</strong>
  <%= @asset.last_check %>
</p>
<p>
  <strong>Asset Type:</strong>
  <%= @asset.asset_type %>
</p>
<p>
  <strong>Acquisition value:</strong>
  <%= @asset.acquisition_value %>
</p>
<p>
  <strong>Current value:</strong>
  <%= @asset.current_value %>
</p>

<p>

</p>

  <table class="table">
    <tr>
      <td> Filename </td>
      <td colspan="2"> Actions </td>

    </tr>
  <% @asset.uploads.each do |upload| %>
    <tr>
        <td><%= upload.filename %></td>
        <td><%= button_to 'Download', upload, method: :get %></td>
        <% if user_signed_in? %>
          <td><%= button_to 'Destroy', upload, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
    </tr>
  <% end %> 
  </table>

  <% if user_signed_in? %>
<%= link_to 'Edit', edit_asset_path(@asset), :class => "btn btn-primary pull-left btn-sm "  %> 
  <% end %>
</div>
<%= link_to '<div class="glyphicon glyphicon-arrow-left"> Back</div>'.html_safe, assets_path, :class => "btn btn-default pull-left" %>


</div>
</div>
</div>