<h1>Listing uploads</h1>

<table>
  <thead>
    <tr>
      <th>Asset</th>
      <th>File type</th>
      <th>File url</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @uploads.each do |upload| %>
      <tr>
        <td><%= upload.asset_id %></td>
        <td><%= upload.file_type %></td>
        <td><%= upload.file_url %></td>
        <td><%= upload.description %></td>
        <td><%= link_to 'Show', upload %></td>
        <td><%= link_to 'Edit', edit_upload_path(upload) %></td>
        <td><%= link_to 'Destroy', upload, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New upload', new_upload_path %>
