<p id="notice"><%= notice %></p>


<p>
  <strong>Asset:</strong>
  <%= @upload.asset_id %>
</p>

<p>
  <strong>File type:</strong>
  <%= @upload.file_type %>
</p>

<p>
  <strong>File url:</strong>
  <%= @upload.file_url %>
</p>

<p>
  <strong>Description:</strong>
  <%= @upload.description %>
</p>

<%= link_to 'Edit', edit_upload_path(@upload) %> |
<%= link_to 'Back', uploads_path %>
