<!DOCTYPE html>
<html>
<head>
  <title>MMCATS</title>
  <%= favicon_link_tag %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
   <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="<%= assets_path %>" ><%= image_tag("mmcatslogo.jpg") %></a>
                <div class="navbar-brand" id="the_head">
                    <h4 style="margin-top: -1px;">MMC Asset Tracking System(MMCATS)</h4>
                </div>
            </div>
            <!-- /.navbar-header -->

            <ul class="nav navbar-top-links navbar-right">
                <li class="dropdown pull-right">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="glyphicon glyphicon-user"></i>  <i class="glyphicon glyphicon-triangle-bottom"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                                        <% if user_signed_in? %>
  Logged in as <strong><%= current_user.email %></strong>
 <li> <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %></li>
                        <li><%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %></li>
<% else %>
  
  <li><%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %></li>
<% end %>
                    </ul>
                    <!-- /.dropdown-user -->
                </li>
                <!-- /.dropdown -->
            </ul>
            <!-- /.navbar-top-links -->

            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                        
                        <li>
                            <%= link_to '<i class="glyphicon glyphicon-list-alt
"></i> Assets'.html_safe, assets_path%>
                        </li>
                        <li>
                            <%= link_to '<i class="glyphicon glyphicon-list-alt
"></i> Company'.html_safe, companies_path%>
                        </li>
                        <li>
                            <%= link_to '<i class="glyphicon glyphicon-list-alt
"></i> Division'.html_safe, divisions_path%>
                        </li>
                        <li>
                            <%= link_to '<i class="glyphicon glyphicon-list-alt
"></i> Staff'.html_safe, staffs_path%>
                        </li>

                    </ul>
            <!-- /.navbar-static-side -->
                </div>
            </div>
        </nav>
</div>  

<div id="page-wrapper">
             <div class="row">
                <div class="col-lg-12">
                    <% if notice %>
  <p class="alert alert-success"><%= notice %></p>
<% end %>
<% if alert %>
  <p class="alert alert-danger"><%= alert %></p>
<% end %>

    
<%= yield %>
                 </div>
    </div>
</div>
</body>
</html>